In [136]:
import pandas as pd

In [ ]:
file_path = r"C:\Windows\System32\battery-report.html"
history = pd.read_html(file_path)[2]
history = history[history['STATE'] != 'Suspended'].drop(["CAPACITY REMAINING.1", "STATE"], axis = 1)
map = {
    "AC": 1,
    "Battery": 0
}
history["SOURCE"] = history["SOURCE"].map(map)
history["CAPACITY REMAINING"] = history["CAPACITY REMAINING"].str[:-2].astype(float)
dt_full = pd.to_datetime(history['START TIME'], errors = "coerce")
history["DATE"] = dt_full.dt.date.ffill()
history['TIME'] = pd.to_datetime(history['START TIME'], format = "mixed").dt.time
history = history.drop("START TIME", axis = 1)
history

     SOURCE  CAPACITY REMAINING        DATE      TIME
0         1                69.0  2025-06-14  09:16:22
1         0                99.0  2025-06-14  10:17:13
2         1                99.0  2025-06-14  10:18:06
3         1               100.0  2025-06-14  11:06:45
4         1               100.0  2025-06-14  11:11:42
..      ...                 ...         ...       ...
204       0                55.0  2025-06-19  23:49:01
205       0                55.0  2025-06-19  23:51:02
207       0                53.0  2025-06-19  08:42:22
208       0                53.0  2025-06-19  08:42:57
209       0                51.0  2025-06-19  09:05:23

[198 rows x 4 columns]